body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fact-container {
  margin: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #bf9797;
  border-radius: 5px;
  display: flex;
  max-width: 300px;
  flex-direction: column;
}

.fact-text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.fact-date {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  width: 100px;
}

.fact-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}